html,
body {
    height: 100%;
}

.my-navbar {
    position: absolute;
    width: 100%;
}

/* :root,
:root.light {
    --bg-color: #fff;
    --text-color: #123;
}

:root.dark {
    --bg-color: #0b2841;
    --text-color: #51d1a6;
} */

html {
    scroll-behavior: smooth;
}

.my-logo {
    color: #51d1a6;
    font-weight: 400;
}

.my-header {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0b2841;
}

.my-title {
    color: #27e8a7;
}

.my-desc {
    color: #31ae84;
}

.my-input,
textarea {
    color: #31ae84;
    background-color: #0b2841 !important;
    border-inline-start-color: aliceblue;
    border-color: #091e31;
}

.my-input::selection {
    color: #cf4343;
    background-color: #74a2ca;
}

.my-input:focus {
    color: #31ae84;
    background-color: #0b2841;
    border-color: #4e927b;
}

.my-upld-btn {
    color: rgb(77, 127, 129);
    background-color: #0b2841 !important;
    border-color: #081c2e;
}

.my-upld-btn:focus {
    color: rgb(106, 177, 180);
    background-color: #0b2841;
    border-color: #081c2e;
}

.my-statistics, .my-results {
    color: #3dd8a4;
    background-color: #0b2841 !important;
    border-color: #091e31;
}

.my-statistic, .my-url {
    background-color: #103250 !important;
    color: #47b791;
}

.form-control {
    background-color: #081c2e;
}

.my-btn {
    margin: 10px;
    color: #79bda6;
    border-color: #4e927b;
    border-width: 2px;
    font-size: 20px;
}

.my-btn:hover {
    color: #8cdfc3;
}

.my-form {
    background-color: #081c2e;
}
